In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
from matplotlib import style
import matplotlib.ticker as ticker
import seaborn as sns
from sklearn.model_selection import train_test_split
plt.rcParams["figure.figsize"] = (10,8)


import statsmodels.formula.api as smf


from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor 
from sklearn.model_selection import GridSearchCV
from sklearn import tree



from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate
from sklearn import metrics

import warnings
warnings.filterwarnings('ignore')

In [2]:
df_limpio = pd.read_csv("../../data/precio/dfnorm.csv", index_col = 0)
df_limpio.head()

,edad,Valoración actual,Progresión,precio,Ataque,Regate,Aceleración,Potencia tiro,Agresividad,Defensa
0,1.826700,1.323359,-0.889897,1.214184,0.002999,-2.067653,-1.428951,-2.402604,0.839337,1.321880
1,0.369777,1.323359,1.005344,1.754797,0.457513,1.649663,1.313775,0.529640,-1.626190,-1.094921
2,-1.087145,1.323359,0.373597,1.538552,0.457513,0.748495,0.690428,1.018347,0.441671,-0.231778
3,1.098239,1.323359,-0.258150,1.430429,-0.724223,0.185265,-0.306927,1.507054,0.759804,-0.807207
4,1.826700,1.323359,-0.258150,1.538552,0.366611,0.635849,-0.057588,1.311571,1.555135,-1.440179

In [3]:
#df_limpio = df_limpio.drop(['Nombre jugador', 'Equipo actual', 'pais'], axis =1)
#df_limpio.head()

In [3]:
X = df_limpio.drop('precio', axis =1)
y = df_limpio['precio']


X_train, X_test, y_train, y_test = train_test_split(X, y, train_size   = 0.8, random_state = 42)

In [4]:
lr = LinearRegression()

In [5]:
lr.fit(X_train, y_train)

LinearRegression()

In [6]:
lr.intercept_

-0.011321740745250317

In [7]:
lr.coef_

array([ 0.08447813,  0.9196475 ,  0.09299743,  0.00894899,  0.03737356,
       -0.00795734, -0.01446833, -0.00560074, -0.04063025])

In [8]:
y_pred = lr.predict(X_test)
y_pred_train = lr.predict(X_train)

In [9]:
train_df = pd.DataFrame({'Real': y_train, 'Predicted': y_pred_train, 'Set': ['Train']*len(y_train)})
test_df  = pd.DataFrame({'Real': y_test,  'Predicted': y_pred,  'Set': ['Test']*len(y_test)})
results = pd.concat([train_df,test_df], axis = 0)
results.head()

         Real  Predicted    Set
350 -1.164513  -1.058991  Train
193 -0.083287   0.082263  Train
181  0.349203   0.381326  Train
65   1.214184   1.075536  Train
364 -1.056391  -0.960124  Train

In [10]:
results['residual'] = results['Real'] - results['Predicted']
results.head()

         Real  Predicted    Set  residual
350 -1.164513  -1.058991  Train -0.105522
193 -0.083287   0.082263  Train -0.165550
181  0.349203   0.381326  Train -0.032123
65   1.214184   1.075536  Train  0.138648
364 -1.056391  -0.960124  Train -0.096266

In [11]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print("R2:",  metrics.r2_score(y_test, y_pred))

Mean Absolute Error: 0.16446872919630923
Mean Squared Error: 0.05067654120271662
Root Mean Squared Error: 0.22511450686865256
R2: 0.9529806202233877