In [4]:
import pandas as pd
import math
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler

pd.options.display.max_columns = None

In [5]:
df = pd.read_csv("../../data/precio/dfproc.csv", index_col = 0)
df.head()

,Nombre jugador,Equipo actual,edad,pais,Valoración actual,Progresión,precio,Ataque,Regate,Aceleración,Potencia tiro,Agresividad,Defensa
0,gaston-alvarez,getafe-cf,21,Uruguay,70,80,3300000,54,47,62,35,65,67
1,abdessamad-ezzalzouli,fc-barcelona,19,Morocco,70,83,3800000,59,80,84,65,34,25
2,alberto-moleiro-gonzalez,union-deportiva-las-palmas,17,Spain,70,82,3600000,59,72,79,70,60,40
3,rodrigo-muniz-carvalho,fulham,20,Brazil,70,81,3500000,46,67,71,75,64,30
4,vitor-manuel-carvalho-oliveira,sc-braga,21,Portugal,70,81,3600000,58,71,73,73,74,19

In [6]:
df = df.drop(['Nombre jugador', 'Equipo actual', 'pais'], axis =1)
df.head()

,edad,Valoración actual,Progresión,precio,Ataque,Regate,Aceleración,Potencia tiro,Agresividad,Defensa
0,21,70,80,3300000,54,47,62,35,65,67
1,19,70,83,3800000,59,80,84,65,34,25
2,17,70,82,3600000,59,72,79,70,60,40
3,20,70,81,3500000,46,67,71,75,64,30
4,21,70,81,3600000,58,71,73,73,74,19

In [7]:
scaler = StandardScaler()

In [8]:
df.columns

Index(['edad', 'Valoración actual', 'Progresión', 'precio', 'Ataque', 'Regate',
       'Aceleración', 'Potencia tiro', 'Agresividad', 'Defensa'],
      dtype='object')

In [9]:
scaler.fit(df[['edad', 'Progresión', 'Valoración actual', 'Ataque', 'Regate',
       'Aceleración', 'Potencia tiro', 'Agresividad', 'Defensa']])

StandardScaler()

In [10]:
X_escaladas = scaler.transform(df[['edad','Progresión', 'Valoración actual', 'Ataque', 'Regate',
       'Aceleración', 'Potencia tiro', 'Agresividad', 'Defensa']])
X_escaladas

array([[ 1.82670024, -0.88989743,  1.32335873, ..., -2.40260389,
         0.83933695,  1.32187977],
       [ 0.36977738,  1.00534359,  1.32335873, ...,  0.52963958,
        -1.6261901 , -1.0949213 ],
       [-1.08714549,  0.37359658,  1.32335873, ...,  1.01834682,
         0.44167129, -0.23177806],
       ...,
       [-1.08714549, -0.88989743, -2.52227131, ..., -0.54551636,
        -1.54665697, -1.21000706],
       [-1.81560692, -0.88989743, -2.52227131, ..., -0.44777491,
        -0.98992505,  0.63136518],
       [-1.81560692, -0.88989743, -2.84274048, ...,  0.13867378,
        -1.6261901 , -1.72789301]])

In [11]:
df[['edad', 'Progresión', 'Valoración actual', 'Ataque', 'Regate',
       'Aceleración', 'Potencia tiro', 'Agresividad', 'Defensa']] = X_escaladas
df.head()

,edad,Valoración actual,Progresión,precio,Ataque,Regate,Aceleración,Potencia tiro,Agresividad,Defensa
0,1.826700,1.323359,-0.889897,3300000,0.002999,-2.067653,-1.428951,-2.402604,0.839337,1.321880
1,0.369777,1.323359,1.005344,3800000,0.457513,1.649663,1.313775,0.529640,-1.626190,-1.094921
2,-1.087145,1.323359,0.373597,3600000,0.457513,0.748495,0.690428,1.018347,0.441671,-0.231778
3,1.098239,1.323359,-0.258150,3500000,-0.724223,0.185265,-0.306927,1.507054,0.759804,-0.807207
4,1.826700,1.323359,-0.258150,3600000,0.366611,0.635849,-0.057588,1.311571,1.555135,-1.440179

In [12]:
df.to_csv('../../data/precio/dfnorm.csv')