# Aplicaci√≥n de la regresi√≥n lineal al cluster 0 üìàüìä

‚ùó Una vez obtenido que el mejor modelo para realizar nuestra predicci√≥n es la regresi√≥n lineal, se aplica a cada uno de los modelos.

In [1]:
import pandas as pd
import numpy as np

import pickle

import matplotlib.pyplot as plt
from matplotlib import style
import matplotlib.ticker as ticker
import seaborn as sns
from sklearn.model_selection import train_test_split
plt.rcParams["figure.figsize"] = (10,8)


import statsmodels.formula.api as smf


from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor 
from sklearn.model_selection import GridSearchCV
from sklearn import tree



from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate
from sklearn import metrics

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("../../data/precio/dfclust.csv", index_col = 0)
df.head()

,edad,Valoraci√≥n_actual,Progresi√≥n,precio,Ataque,Regate,Aceleraci√≥n,Potencia_tiro,Agresividad,Defensa,Porter√≠a,Cluster
0,21,70,80,3300000,54,47,62,35,65,67,10,1
11,21,70,80,3300000,31,44,64,45,75,74,14,1
12,18,70,81,3100000,31,54,65,60,71,68,15,1
14,18,70,81,3100000,43,59,62,49,66,69,10,1
15,19,70,81,3300000,61,74,84,41,69,63,8,1

In [3]:
df.drop(df[df['Cluster'] >= 1].index, inplace=True)
df.head()

,edad,Valoraci√≥n_actual,Progresi√≥n,precio,Ataque,Regate,Aceleraci√≥n,Potencia_tiro,Agresividad,Defensa,Porter√≠a,Cluster
69,21,69,80,3200000,65,68,79,68,52,21,13,0
70,19,69,82,3300000,44,76,76,65,48,24,14,0
72,19,69,83,3300000,60,76,84,68,38,20,8,0
76,19,69,83,3300000,63,73,90,64,40,44,5,0
77,19,69,80,3000000,66,71,72,65,50,39,9,0

In [4]:
df.drop(columns = ['Cluster'], inplace = True)
df.head()

,edad,Valoraci√≥n_actual,Progresi√≥n,precio,Ataque,Regate,Aceleraci√≥n,Potencia_tiro,Agresividad,Defensa,Porter√≠a
69,21,69,80,3200000,65,68,79,68,52,21,13
70,19,69,82,3300000,44,76,76,65,48,24,14
72,19,69,83,3300000,60,76,84,68,38,20,8
76,19,69,83,3300000,63,73,90,64,40,44,5
77,19,69,80,3000000,66,71,72,65,50,39,9

In [5]:
X = df.drop('precio', axis =1)
y = df['precio']


X_train, X_test, y_train, y_test = train_test_split(X, y, train_size   = 0.8, random_state = 42)

In [6]:
lr = LinearRegression()

In [7]:
lr_fit3 = lr.fit(X_train, y_train)

ü§î Una vez fiteado, guardamos nuestro modelo para los jugadores pertenecientes al cluster 0 mediante pickle.

As√≠, podremos emplearlo en el streamlit, permitiendo al usuario introducir las caracter√≠sticas de un jugador y obtener una predicci√≥n de su precio dependiendo del cluster al que perteneca dicho jugador introducido.

In [8]:
def save_model(amount, filename = "model3.pkl"): 
    with open(filename, "wb") as f:
        pickle.dump(amount, f)

In [9]:
save_model(lr_fit3)