# Aplicaci√≥n de la regresi√≥n lineal al cluster 1 üìàüìä

‚ùó Una vez obtenido que el mejor modelo para realizar nuestra predicci√≥n es la regresi√≥n lineal, se aplica a cada uno de los modelos.

In [1]:
import pandas as pd
import numpy as np

import pickle

import matplotlib.pyplot as plt
from matplotlib import style
import matplotlib.ticker as ticker
import seaborn as sns
from sklearn.model_selection import train_test_split
plt.rcParams["figure.figsize"] = (10,8)


import statsmodels.formula.api as smf


from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor 
from sklearn.model_selection import GridSearchCV
from sklearn import tree



from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate
from sklearn import metrics

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("../../data/precio/dfclust.csv", index_col = 0)
df.head()

,edad,Valoraci√≥n_actual,Progresi√≥n,precio,Ataque,Regate,Aceleraci√≥n,Potencia_tiro,Agresividad,Defensa,Porter√≠a,Cluster
0,21,70,80,3300000,54,47,62,35,65,67,10,1
11,21,70,80,3300000,31,44,64,45,75,74,14,1
12,18,70,81,3100000,31,54,65,60,71,68,15,1
14,18,70,81,3100000,43,59,62,49,66,69,10,1
15,19,70,81,3300000,61,74,84,41,69,63,8,1

In [3]:
df.drop(df[df['Cluster'] < 1].index, inplace=True)

In [4]:
df.drop(df[df['Cluster'] > 1].index, inplace=True)

In [5]:
df.drop(columns = ['Cluster'], inplace = True)
df.head()

,edad,Valoraci√≥n_actual,Progresi√≥n,precio,Ataque,Regate,Aceleraci√≥n,Potencia_tiro,Agresividad,Defensa,Porter√≠a
0,21,70,80,3300000,54,47,62,35,65,67,10
11,21,70,80,3300000,31,44,64,45,75,74,14
12,18,70,81,3100000,31,54,65,60,71,68,15
14,18,70,81,3100000,43,59,62,49,66,69,10
15,19,70,81,3300000,61,74,84,41,69,63,8

In [6]:
X = df.drop('precio', axis =1)
y = df['precio']


X_train, X_test, y_train, y_test = train_test_split(X, y, train_size   = 0.8, random_state = 42)

In [7]:
lr = LinearRegression()

In [8]:
lr_fit1 = lr.fit(X_train, y_train)

ü§î Una vez fiteado, guardamos nuestro modelo para los jugadores pertenecientes al cluster 1 mediante pickle.

As√≠, podremos emplearlo en el streamlit, permitiendo al usuario introducir las caracter√≠sticas de un jugador y obtener una predicci√≥n de su precio dependiendo del cluster al que perteneca dicho jugador introducido.

In [9]:
def save_model(amount, filename = "model1.pkl"): 
    with open(filename, "wb") as f:
        pickle.dump(amount, f)

In [10]:
save_model(lr_fit1)

In [11]:
lr.intercept_

-23873293.220211137

In [12]:
lr.coef_

array([ 4.95423006e+04,  2.94735852e+05,  6.38745891e+04, -1.90065317e+02,
        2.90518135e+03, -1.17633119e+03,  1.34809496e+03,  2.78417972e+03,
        2.93056633e+02,  3.76371768e+03])

In [13]:
y_pred = lr.predict(X_test)
y_pred_train = lr.predict(X_train)

In [14]:
train_df = pd.DataFrame({'Real': y_train, 'Predicted': y_pred_train, 'Set': ['Train']*len(y_train)})
test_df  = pd.DataFrame({'Real': y_test,  'Predicted': y_pred,  'Set': ['Test']*len(y_test)})
results = pd.concat([train_df,test_df], axis = 0)
results.head()

        Real     Predicted    Set
65   3300000  3.205643e+06  Train
68   3300000  3.168440e+06  Train
41   3300000  3.295420e+06  Train
149  2300000  2.391519e+06  Train
253  1700000  1.623874e+06  Train

In [15]:
results['residual'] = results['Real'] - results['Predicted']
results.head()

        Real     Predicted    Set       residual
65   3300000  3.205643e+06  Train   94357.028347
68   3300000  3.168440e+06  Train  131560.228558
41   3300000  3.295420e+06  Train    4580.423852
149  2300000  2.391519e+06  Train  -91518.517146
253  1700000  1.623874e+06  Train   76126.295095

In [16]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print("R2:",  metrics.r2_score(y_test, y_pred))

Mean Absolute Error: 82580.59614083983
Mean Squared Error: 10796180838.839361
Root Mean Squared Error: 103904.67188167894
R2: 0.9793248350530055