In [1]:
import pandas as pd
import numpy as np
import re
from bs4 import BeautifulSoup
import requests

pd.options.display.max_columns = None

In [2]:
url = 'https://sofifa.com/players?type=all&oah=70&ptl=80&vlh=1000000'
html = requests.get(url)
soup = BeautifulSoup(html.content, "html.parser")
html.status_code

200

In [3]:
productos = soup.find_all("td",{"class": "col col-oa col-sort"})

In [4]:
valoracion = {'valor': []}

In [5]:
for i in productos:
    valoracion['valor'].append(i)

In [6]:
jvalor = pd.DataFrame(valoracion)
jvalor.head(2)

    valor
0  [[62]]
1  [[62]]

In [7]:
jvalor["valor"] = jvalor['valor'].astype(str)

In [8]:
jvalor['valor'] = jvalor['valor'].str.extract(r'(\d{2})')

In [9]:
jvalor.head()

  valor
0    62
1    62
2    62
3    62
4    62

In [10]:
productos = soup.find_all("td",{"class": "col col-pt"})

In [11]:
futuro = {'fut': []}

In [12]:
for i in productos:
    futuro['fut'].append(i)

In [23]:
jfut = pd.DataFrame(futuro)
jfut.head(2)

      fut
0  [[80]]
1  [[80]]

In [14]:
jfut["fut"] = jfut['fut'].astype(str)

In [15]:
jfut['fut'] = jfut['fut'].str.extract(r'(\d{2})')

In [22]:
jfut.head(2)

  fut
0  80
1  80

In [21]:
jug_valor = pd.concat([jvalor, jfut], axis=1)
jug_valor.head(2)

  valor fut
0    62  80
1    62  80

In [18]:
nuevas_columnas = {
    'valor' : 'Valoración actual', 
    'fut': "Progresión"}

In [19]:
jug_valor.rename(columns = nuevas_columnas, inplace = True)
jug_valor.head(2)

  Valoración actual Progresión
0                62         80
1                62         80

In [20]:
jug_valor.to_csv('../../data/promesas/progresion_jugadores.csv')