# Precio joven promesa. üí∞

‚ùó En este caso, se obtendr√° el precio de los distintos jugadores.

‚û° Para ello, se realizar√° un WebScraping.

In [1]:
import pandas as pd
import numpy as np
import re
from bs4 import BeautifulSoup
import requests

pd.options.display.max_columns = None

1Ô∏è‚É£ Se establecen las condiciones para el webscraping.

In [2]:
url = 'https://sofifa.com/players?type=all&oah=70&ptl=80&vlh=1000000'
html = requests.get(url)
soup = BeautifulSoup(html.content, "html.parser")
html.status_code

200

2Ô∏è‚É£ Se detalla la informaci√≥n que se desea extraer de la p√°gina web.

In [3]:
productos = soup.find_all("td",{"class": "col col-vl"})

3Ô∏è‚É£ Se crea un diccionario con el obtejivo de a√±adir la informaci√≥n escrapeada y, posteriormente, convertirla a un dataframe.

In [4]:
valor = {'precio': []}

In [5]:
for i in productos:
    valor['precio'].append(i)

In [6]:
precio = pd.DataFrame(valor)
precio.head(2)

    precio
0    [‚Ç¨1M]
1  [‚Ç¨925K]

4Ô∏è‚É£ Se procede a la limpieza de la informaci√≥n obtenida. 

ü§î Para ello, en primer lugar se pasa a string los datos escrapeados con el objetivo de realizar regex. De este modo, se eliminan todas las letras y n√∫meros que acompa√±an al precio del jugador, √∫nico dato que interesa.

In [7]:
precio["precio"] = precio['precio'].astype(str)
precio.head(2)

                                            precio
0    <td class="col col-vl" data-col="vl">‚Ç¨1M</td>
1  <td class="col col-vl" data-col="vl">‚Ç¨925K</td>

In [8]:
precio['precio'] = precio['precio'].str.extract(r'(?<=\"\>)(.*)(?=\<\/td\>)')

In [9]:
precio.head()

  precio
0    ‚Ç¨1M
1  ‚Ç¨925K
2  ‚Ç¨950K
3    ‚Ç¨1M
4    ‚Ç¨1M

5Ô∏è‚É£ Se guarda el dataframe obtenido.

In [10]:
precio.to_csv('../../data/promesas/precio_jugadores.csv')