In [33]:
import pandas as pd
import numpy as np
import re
from bs4 import BeautifulSoup
import requests

pd.options.display.max_columns = None

In [34]:
url = 'https://sofifa.com/players?type=all&oal=75&vlh=0'
html = requests.get(url)
soup = BeautifulSoup(html.content, "html.parser")
html.status_code

200

In [35]:
productos = soup.find_all("td", {"class": "col-name"})

In [36]:
jugadores = {'jugador': []}

In [37]:
for i in productos:
    jugadores['jugador'].append(i.find('a').get('href'))

In [38]:
jugadores_top = pd.DataFrame(jugadores)
jugadores_top

                                       jugador
0     /player/184087/toby-alderweireld/220057/
1                                /players?na=7
2            /player/257536/jan-kuchta/220057/
3                               /players?na=12
4          /player/205211/milan-borjan/220057/
5                               /players?na=70
6                 /player/188044/lan-a/220057/
7                              /players?na=155
8   /player/189060/aleksandar-dragovic/220057/
9                                /players?na=4
10       /player/236298/eduard-atuesta/220057/
11                              /players?na=56
12         /player/186347/maciej-rybus/220057/
13                              /players?na=37

In [39]:
jugadores_top['jug'] = jugadores_top['jugador'].str.extract(r'(?<=\/player\/\d\d\d\d\d\d\/)(.*)(?=\/22005)')

In [40]:
jugadores_top

                                       jugador                  jug
0     /player/184087/toby-alderweireld/220057/    toby-alderweireld
1                                /players?na=7                  NaN
2            /player/257536/jan-kuchta/220057/           jan-kuchta
3                               /players?na=12                  NaN
4          /player/205211/milan-borjan/220057/         milan-borjan
5                               /players?na=70                  NaN
6                 /player/188044/lan-a/220057/                lan-a
7                              /players?na=155                  NaN
8   /player/189060/aleksandar-dragovic/220057/  aleksandar-dragovic
9                                /players?na=4                  NaN
10       /player/236298/eduard-atuesta/220057/       eduard-atuesta
11                              /players?na=56                  NaN
12         /player/186347/maciej-rybus/220057/         maciej-rybus
13                              /players?na=37                  NaN

In [41]:
jugadores_fichar = jugadores_top.dropna()
jugadores_fichar = jugadores_fichar.reset_index(drop=True)
jugadores_fichar.head(2)

                                    jugador                jug
0  /player/184087/toby-alderweireld/220057/  toby-alderweireld
1         /player/257536/jan-kuchta/220057/         jan-kuchta

In [47]:
jug = jugadores_fichar.drop(['jugador'], axis=1)
jug

                   jug
0    toby-alderweireld
1           jan-kuchta
2         milan-borjan
3                lan-a
4  aleksandar-dragovic
5       eduard-atuesta
6         maciej-rybus

In [46]:
nuevas_columnas = {
    'jug' : 'Nombre jugador'}

In [48]:
jug.rename(columns = nuevas_columnas, inplace = True)
jug.head(2)

      Nombre jugador
0  toby-alderweireld
1         jan-kuchta

In [49]:
jug.to_csv('../../data/veteranos/nombres_equipos.csv')