In [1]:
import pandas as pd
import numpy as np
import re
from bs4 import BeautifulSoup
import requests

pd.options.display.max_columns = None

In [2]:
url = 'https://sofifa.com/players?type=all&oal=75&vlh=0'
html = requests.get(url)
soup = BeautifulSoup(html.content, "html.parser")
html.status_code

200

In [3]:
productos = soup.find_all("td",{"class": "col col-vl"})

In [4]:
valor = {'precio': []}

In [5]:
for i in productos:
    valor['precio'].append(i)

In [6]:
precio = pd.DataFrame(valor)
precio.head(2)

  precio
0   [€0]
1   [€0]

In [7]:
precio["precio"] = precio['precio'].astype(str)
precio.head(2)

                                         precio
0  <td class="col col-vl" data-col="vl">€0</td>
1  <td class="col col-vl" data-col="vl">€0</td>

In [8]:
precio['precio'] = precio['precio'].str.extract(r'(?<=\"\>)(.*)(?=\<\/td\>)')

In [9]:
precio.head(2)

  precio
0     €0
1     €0

In [10]:
precio.to_csv('../../data/veteranos/precio_jugadores.csv')