In [22]:
import pandas as pd
import numpy as np
import re
from bs4 import BeautifulSoup
import requests

pd.options.display.max_columns = None

In [23]:
url = 'https://sofifa.com/players?type=all&oal=75&vlh=0'
html = requests.get(url)
soup = BeautifulSoup(html.content, "html.parser")
html.status_code

200

In [24]:
productos = soup.find_all("td",{"class": "col col-oa col-sort"})

In [25]:
valoracion = {'valor': []}

In [26]:
for i in productos:
    valoracion['valor'].append(i)

In [27]:
jvalor = pd.DataFrame(valoracion)
jvalor.head(2)

    valor
0  [[83]]
1  [[77]]

In [28]:
jvalor["valor"] = jvalor['valor'].astype(str)

In [29]:
jvalor['valor'] = jvalor['valor'].str.extract(r'(\d{2})')

In [30]:
jvalor.head(2)

  valor
0    83
1    77

In [31]:
productos = soup.find_all("td",{"class": "col col-pt"})

In [32]:
futuro = {'fut': []}

In [33]:
for i in productos:
    futuro['fut'].append(i)

In [34]:
jfut = pd.DataFrame(futuro)
jfut.head(2)

      fut
0  [[83]]
1  [[80]]

In [35]:
jfut["fut"] = jfut['fut'].astype(str)

In [36]:
jfut['fut'] = jfut['fut'].str.extract(r'(\d{2})')

In [37]:
jfut.head(2)

  fut
0  83
1  80

In [38]:
jug_valor = pd.concat([jvalor, jfut], axis=1)
jug_valor.head(2)

  valor fut
0    83  83
1    77  80

In [39]:
nuevas_columnas = {
    'valor' : 'Valoración actual', 
    'fut': "Progresión"}

In [40]:
jug_valor.rename(columns = nuevas_columnas, inplace = True)
jug_valor.head(2)

  Valoración actual Progresión
0                83         83
1                77         80

In [41]:
jug_valor.to_csv('../../data/veteranos/progresion_jugadores.csv')